<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
	<Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
           	<PatternLayout charset="UTF-8">
            		<Pattern>%d{DATE} %C %p  %m%n</Pattern>
        	</PatternLayout>
        </Console>
        <RollingFile name="LogToRollingFile" fileName="c:/temp/logs/qrmanager.log"
                    filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        	<PatternLayout>
            		<Pattern>%d{DATE} %C %p  %m%n</Pattern>
        	</PatternLayout>
        	<Policies>
            		<SizeBasedTriggeringPolicy size="500 KB"/>
        	</Policies>
		<DefaultRolloverStrategy max="10">
			<Delete basePath="c:/temp/logs" maxDepth="2">
				<IfFileName glob="*/app-*.log.gz" />
				<IfLastModified age="P30D" />
			</Delete>
		</DefaultRolloverStrategy>
    	</RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToRollingFile"/>
        </Root>
    </Loggers>
</Configuration>