<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
   <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:MM:ss} %C %p  %m%n"/>
        </Console>
        <RollingFile name="LogToRollingFile" fileName="c:/temp/logs/qrmanager.log"
                    filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
        	<PatternLayout>
            		<Pattern>%d{yyyy-MM-dd HH:MM:ss} %C %p  %m%n</Pattern>
        	</PatternLayout>
        	<Policies>
            		<TimeBasedTriggeringPolicy />
            		<SizeBasedTriggeringPolicy size="10 MB"/>
        	</Policies>
    	</RollingFile>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToRollingFile"/>
        </Root>
    </Loggers>
</Configuration>